body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  background: #F8F8F8;
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9))  no-repeat;
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9) no-repeat;
  color: #555;
  margin: 0;
  text-align:justify;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}

#container {
  margin: 0 auto;
  width: 730px;
}

h1 {
  font-size: 3.8em;
  color: #121621;
  margin-bottom: 3px;
  text-shadow: 1px 1px 0px #ccc;
}
h1 a {
  color: #121621;
  text-decoration: none;
}

h2 {
  font-size: 1.35em; color: #3a8e11;
}

a {
  color: #3a8e11;
}

form {
  font-size: 14px;
  line-height: 18px;
}
#debug_log {
  clear: both;
}

.download {
  float: right;
}

pre {
  background: #000;
  color: #fff;
  padding: 15px;
}

.footer {
  text-align:center;
  padding-top:10px;
  font-style: italic;
  color: #888;
}

.example-container {
  width: 172px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}


.square .ui-radioButton {
  border-radius: 0;
}

.image .ui-radioButton {
  background: url(http://p.yusukekamiyamane.com/icons/search/fugue/icons/cross-circle.png);
  height: 16px;
  width: 16px;
  vertical-align: -3px;
}

.image .ui-radioButton-checked {
  background: url(http://p.yusukekamiyamane.com/icons/search/fugue/icons/tick-circle.png);
}

.image .ui-radioButton-disabled {
  background: url(http://p.yusukekamiyamane.com/icons/search/fugue/icons/json.png);
}